<div>
  <form>
    <div>
      <div class="image-upload">
        <label for="file">
          <p *ngIf="!isSelected">Upload image</p>
        </label>
        <input id="file" type="file" (change)="selectImage($event)" />
      </div>
    </div>
    <br>
    <div>
      <button class="btn btn-primary btn-light" *ngIf="isSelected" type="submit" (click)="onSubmit()">Upload</button>
      <button class="btn btn-primary btn-light" *ngIf="isSelected" type="submit" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>