<div class="container-fluid">
  <ul class="landmarks">
    <li *ngFor="let landmark of landmarks">
      <div class="row">
        <div class="col-3">
          <a *ngIf=" landmark.photo_thumb" href={{landmark.photo.url}} target="_blank">
            <img class="img-fluid" src={{landmark.photo_thumb.url}} />
          </a>
        </div>
        <div class="col-9">
          <a [routerLink]="['/landmarks', landmark.objectId]">
            <h2>{{landmark.title}}</h2>
          </a>
          <p>
            {{landmark.short_info}}
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>