<div class="container-fluid">
  <div *ngIf="landmark" class="row">
    <!--Image-->
    <div class="col-2">
      <a *ngIf="landmark.photo_thumb" href={{landmark.photo.url}} target="_blank">
        <img class="img-fluid" src={{landmark.photo_thumb.url}} />
      </a>
      <div *ngIf="!landmark.photo_thumb">
        <img class="img-fluid" src="../../../../assets/placeholder_250x250.png" />
      </div>
      <app-image-upload></app-image-upload>
    </div>
    <!--Details-->
    <div class="col-10">
      <div class="row">
        <h2 id="editableTitle" contenteditable="false">
          {{landmark.title}}
        </h2>
        <button class="btn btn-primary btn-light" (click)="onEdit()">Edit</button>
        <button *ngIf="editActive" class="btn btn-primary btn-light" (click)="onCancel()">Cancel</button>
        <button *ngIf="editActive" class="btn btn-primary btn-light" (click)="onSave()">Save</button>
        <p id="editableInfo" contenteditable="false">{{landmark.short_info}}</p>
        <p id="editableDescription" contenteditable="false">{{landmark.description}}</p>
        <p>Official page: <a id="editableUrl" href={{landmark.url}} target="_blank">{{landmark.url}}</a></p>
      </div>
    </div>
  </div>
  <!--Back button-->
  <button *ngIf="landmark" class="btn btn-primary btn-light float-right" (click)="goBack()">Back</button>
</div>