<div>
  <div *ngIf="landmark" class="row">
    <div class="column">
      <a *ngIf="landmark.photo_thumb" href={{landmark.photo.url}} target="_blank">
        <img src={{landmark.photo_thumb.url}} />
      </a>
    </div>
    <div class="column">
      <h2 id="editableTitle" contenteditable="false">
        {{landmark.title}}
      </h2>
      <p id="editableInfo" contenteditable="false">
        {{landmark.short_info}}
      </p>
    </div>
  </div>
  <div>
    <p id="editableDescription" contenteditable="false">
      {{landmark.description}}
    </p>
    <div>
      <p> More information: </p>
      <a href={{landmark.url}} target="_blank">{{landmark.url}}</a>
    </div>
    <button (click)="onEdit()">Edit</button>
    <button *ngIf="editActive" (click)="onCancel()">Cancel</button>
    <button *ngIf="editActive" (click)="onSave()">Save</button>
    <app-image-upload></app-image-upload>
  </div>
  <button (click)="goBack()">Back</button>
</div>